$dark-blue: #252945;
$button-blue: #29385e;
$button-blue-light: #4e5c80;
$table-border: #ddd;
$table-row: #f2f2f2;

.main {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    .selections {
        position: absolute;
        display: flex;
        top: 50px;
        left: 50px;
        text-align: center;
        border-radius: 5px;
        color: white;
        font-size: 18px;
        .selection {
            width: 280px;
            height: 55px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $button-blue;
            border: 2px solid $dark-blue;
            border-radius: 5px;
            padding: 0 15px;
            transition: ease all 0.2s;
            &.states {
                margin-right: 20px;
                width: 200px;
            }
            
            &:hover {
                font-weight: bold;
            }
        }
        .item {
            visibility: hidden;
            display: none;
            transition: ease all 0.2s;
            padding: 15px;
            width: 280px;
            &.state {
                width: 200px;
            }
            &.clicked {
                background-color: $button-blue-light;
                padding: 15px;
                border: 2px solid white;
                border-radius: 5px;
                color: white;
                visibility: visible;
                display: inherit;
            }
            &:hover {
                background-color: $button-blue;
                font-weight: bold;
            }
        }
    }

    .chart {
        width: 70%;
        margin: auto;
        text-align: center;
        margin-top: 150px;
        .title {
            font-size: 25px;
            font-weight: bold;
        }
        .bar-chart {
            .table {
                .table-title {
                    font-size: 25px;
                }
                .table-note {
                    font-size: 14px;
                    margin-top: 10px;
                }
                table {
                    margin: auto;
                    width: 80%;
                    text-align: center;
                    border-collapse: collapse;
                    tr {
                        &:nth-child(even) {
                            background-color: $table-row;
                        }
                        &:nth-child(odd) {
                            background-color: white;
                        }
                        &:hover {
                            background-color: $table-border;
                        }
                    }
                    th {
                        padding-top: 12px;
                        padding-bottom: 12px;
                        background-color: #4CAF50;
                        color: white;
                        border: 1px solid $table-border;
                    }
                    td {
                        border: 1px solid $table-border;
                        padding: 8px;
                    }
                }
            }
        }
    }
}

.loading {
    img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}